
/*-----------------------------------------------max-width 1050-------------------------------------------------------*/

@media screen and (max-width:1050px){
}/*/mediaquery*/

/*-----------------------------------------------max-width 900-------------------------------------------------------*/


@media screen and (max-width:900px){
	p.intro{
		font-size:36px;
		line-height:42px;
		padding-bottom:15px;
		font-weight:300;		
	}

}/*/mediaquery*/


/*-----------------------------------------------max-width 800-------------------------------------------------------*/

@media screen and (max-width:800px){
	#sidebar{width:150px;}
	#content-main{margin-left:150px;padding-left:20px;}
	h1.logo{display:none;}
	#slides{margin-left:250px;}
	
	#slides img{margin-bottom:2px;}
	#slides{margin-left:0px;padding-left:0px;padding-bottom:0px;}
	header.entry-header.mobile{display:block;}
	header.entry-header.browser{display:none;}
	h1.entry-title{
		/*margin-top:-15px;*/
		text-align:center;
	}

	#main{margin-top:50px;}
	#entry-content{min-width: 50px; width:45%;}
	#footer-nav {
		display:none;
	}
	
}/*/mediaquery*/

/*-----------------------------------------------max-width 600-------------------------------------------------------*/

@media screen and (max-width:600px){
	/*#header{margin:0px auto 0px;}*/
	#mobile-nav{display: block;}
	#sidebar{width:100%;text-align:center;padding-bottom:5px;}
	#sidebar{position:relative;top:0;margin-top:25px;}
	#sidebar ul li{margin-left:-3em;}
	
	#content-main p.intro{
		font-size:23px;
		line-height:32px;
		font-weight:400;
		text-indent:0px;
	}
	
	h1.entry-title, h1.page-title, header.entry-header h1.entry-title{
		font-size: 23px;
		line-height: 29px;
		padding-bottom: 10px;
		margin-bottom: 12px;
		margin-top:0px;
		border-bottom: 4px double #dbd9d4;
		font-family: 'Whitney A', 'Whitney B';
		font-weight:400;
		letter-spacing:1px;
		text-align:center;
	}
	
	ul.bullet li strong{font-size:15px;line-height:22px;}
	ul.bullet{font-weight:400px;font-size:12px;line-height:17px;}
	ol letter p{font-size:12px;}
	#content-main{margin-left:0px;padding-left:0px;margin-bottom:20px;margin-top:0px;padding-bottom:0px;}
	.entry-content{
		padding-left:0px;
		}
	article.thumb-article {
		margin-left:1%;
		margin-right:1%;
		margin-bottom:2%;
		float:left;
		width:31.25%;
	}
	
	body{
		font-family: 'Mercury SSm A', 'Mercury SSm B';
		font-size:13px;
		line-height:22px;
	}
	ol p{
		font-family: 'Mercury SSm A', 'Mercury SSm B';
		font-size:13px;
		line-height:22px;
	}
	
	img.resource-img{margin-top:15px;margin-bottom:-10px;}
	h1.logo{display:none;}
	.entry-content h3{
		font-size:17px;
		line-height:22px;
	}
	

	#projects-nav{margin-bottom:10px;margin-top:0px;}
	#projects-nav{display:none;}
	#projects-nav.mobile{display:block;margin-top:15px;}
	.prev{float:left;}
	.next{float:right;}
	.prev:after{content:"";}
	#the-content p{text-align:left;}
	img.tiny-logo{top:-40px;width:30px;}
	#page-wrap{margin:0 10px 15px 10px;padding:10px 20px;}
	nav{
		text-align:right;
		margin-bottom:35px;
		margin-top:5px;
	}
	.addendum{
		font-size:10px;
		line-height:16px;
	}
	
	ol{list-style:none;}
	#content-main{clear:both;margin-bottom:0px;}
	#search-wrap{
		margin-left:0px;
		margin-top:0px;
		padding-bottom:20px;
		float:left;
		margin-top:10px;
	}
	#sidebar img.cat{
		margin-top:10px;
		width:330px;
		margin-left:-15px;
	}
	h1.search-title{
		text-align:center;
	}

	div.resource-list{
		margin-left:0%;
		width:100%;
	}

	div.resource-list:first-child{width:100%;}
	#content-main.resources ul li{text-align:center;}
	#content-main.resources h3{text-align:center;}
	

	


	#switchform{display:none;}
	
	ol .entry-content h3{
		font-size: 17px;
		line-height: 22px;
	}
	
	.entry-content{margin-bottom:30px;}
	#footer-wrap{display:none;}
	#page-wrap{margin:0 10px 0 10px;}
	nav {display:none;}
 	#mobile-button{display:block;}
	article.thumb-article:hover{
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
	}
	#content-main.resources h1#top-resource-head{margin-bottom:0px;}
	#sidebar{padding-top:0px;margin-top:0px;}
	#arrow-info{display:none;}
	a.pin-it-button{left:44%;}
	ol .letter p {
	font-family: 'Whitney SSm A', 'Whitney SSm B';
	font-weight: 400;
	font-size: 12px;
	line-height: 19px;
}

#main{margin-top:0px;}
.tiny-logo.mobile{display:block;}
#main-logo.tiny-logo{display:none;}
#page-wrap{margin: 0px 10px;padding: 10px 30px;}
#main{padding:0px 5px;}
#header{padding:0px 5px 25px;}
img.tiny-logo {left:5px;}
a.mobile-menu{margin-right:5px;}
.meta-title.location {
	float: none;
	text-align: center;
	display: block;
	position:relative;
}

}/*/mediaquery*/


/*-----------------------------------------------max-width 400-------------------------------------------------------*/

@media screen and (max-width:480px){
	#main{padding: 0px 10px 20px;}
	#header{padding: 0px 10px 25px;}
	nav ul li{margin-left:10px;}
	#page-wrap{margin:0px; padding:10px 20px;}
	#toggleText{margin:0 auto;}
	#page-wrap{margin: 0px;padding: 10px 30px;}
	#main{padding:0px 5px;}
	
	

}/*/mediaquery*/

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
		
/* Styles */
}

