
/*-----------------------------------------------max-width 1050-------------------------------------------------------*/

@media screen and (max-width:1050px){
}/*/mediaquery*/

/*-----------------------------------------------max-width 900-------------------------------------------------------*/


@media screen and (max-width:900px){
	p.intro{
		font-size:36px;
		line-height:42px;
		padding-bottom:15px;
		font-weight:300;		
	}
	.entry-content{min-width: 75px; width:43%;}
}/*/mediaquery*/


/*-----------------------------------------------max-width 800-------------------------------------------------------*/

@media screen and (max-width:800px){
	#sidebar{width:150px;}
	#content-main{margin-left:190px;padding:0px;}
	h1.logo{display:none;}
	header.entry-header.mobile{display:block;}
	header.entry-header.browser{display:none;}
	h1.entry-title{text-align:center;}
	
	#footer-nav {
		display:none;
	}
	
}/*/mediaquery*/

/*-----------------------------------------------max-width 600-------------------------------------------------------*/

@media screen and (max-width:600px){
	/*#header{margin:0px auto 0px;}*/
	body{
		font-family: 'Mercury SSm A', 'Mercury SSm B';
		font-size:13px;
		line-height:22px;
		margin:0;
	}
	#mobile-nav{display: block;}
	#main-nav{display:none;}
	#main{
		padding:0 1.5em; 
		overflow:visible;
		
	}
	#sidebar{
		overflow: hidden;
		float:none; 
		clear:both; 
		width:auto;
		text-align:center; 
		margin: .5em auto; 
	}

	#content-main{
		clear:both; 
		margin:.5em;
		padding-left:0px;
		padding-bottom:0px;
	}
	
	#content-main p.intro{
		font-size:23px;
		line-height:32px;
		font-weight:400;
		text-indent:0px;
	}
	
	h1.entry-title, h1.page-title, header.entry-header{
		font-size: 23px;
		line-height: 29px;
		padding-bottom: 10px;
		margin-bottom: 12px;
		margin-top:0px;
		border-bottom: 4px double #dbd9d4;
		font-family: 'Whitney A', 'Whitney B';
		font-weight:400;
		letter-spacing:1px;
		text-align:center;
	}
	
	
	.entry-content{
		padding-left:0px;
		}
	
	
	ol p{
		font-family: 'Mercury SSm A', 'Mercury SSm B';
		font-size:13px;
		line-height:22px;
	}
	
	img.resource-img{margin-top:15px;margin-bottom:-10px;}
	h1.logo{display:none;}
	.entry-content h3{
		font-size:17px;
		line-height:22px;
	}
	
	.prev{float:left;}
	.next{float:right;}
	.prev:after{content:"";}
	#the-content p{text-align:left;}
	img.tiny-logo{top:-40px;width:30px;}
	#page-wrap{margin:0px;padding:0px}
	nav{
		margin-bottom:35px;
		margin-top:5px;
	}
	#cat-nav ul {display:none;}
	.addendum{
		font-size:10px;
		line-height:16px;
	}
	
	ol{list-style:none;}
	#search-wrap{
		margin-left:0px;
		margin-top:0px;
		padding-bottom:20px;
		float:left;
		margin-top:10px;
	}
	#sidebar img.cat{
		margin-top:10px;
		width:330px;
		margin-left:-15px;
	}
	h1.search-title{
		text-align:center;
	}

	
	#switchform{display:none;}
	
	ol .entry-content h3{
		font-size: 17px;
		line-height: 22px;
	}
	
	.entry-content{margin-bottom:30px;}
	#footer-wrap{display:none;}
	#page-wrap{margin:0 10px 0 10px;}
	
 	#mobile-button{display:block;}
	article.thumb-article:hover{
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
	}
	#arrow-info{display:none;}
	


.tiny-logo.mobile{display:block;}
#main-logo.tiny-logo{display:none;}
#page-wrap{margin: 0px 10px; padding: 10px 30px;}
#header{padding:0px 5px 25px;}
img.tiny-logo {left:5px;}
a.mobile-menu{margin-right:5px;}
.meta-title.location {
	float: none;
	text-align: center;
	display: block;
	position:relative;
}

}/*/mediaquery*/


/*-----------------------------------------------max-width 400-------------------------------------------------------*/

@media screen and (max-width:480px){
	/* #main{padding: 0px 10px 20px;} */
	#header{padding: 0px 10px 25px;}
	nav ul li{margin-left:10px;}
	#page-wrap{margin:0px; padding:0;}
	#toggleText{margin:0 auto;}
	
	

}/*/mediaquery*/

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
		
/* Styles */
}

