
/*-----------------------------------------------max-width 1050-------------------------------------------------------*/

@media screen and (max-width:1050px){
}/*/mediaquery*/

/*-----------------------------------------------max-width 900-------------------------------------------------------*/


@media screen and (max-width:900px){
	#bio-top p.intro{
		font-size:36px;
		line-height:42px;
		padding-bottom:15px;
		font-weight:300;		
	}
	#content-main p.intro{
		font-size:36px;
		line-height:42px;
		font-weight:300;
	}

}/*/mediaquery*/


/*-----------------------------------------------max-width 800-------------------------------------------------------*/

@media screen and (max-width:800px){
	#sidebar p{display:none;}
	#sidebar{width:150px;}
	#sidebar-about{width:150px;}
	#sidebar-about p{display:block;text-align:center;}
	#sidebar-about{width:100%;position:relative;margin-top:30px;text-align:center;}
	#bio-wrap h3{text-align:center;}
	#sidebar-about ul {display:block;}
	#content-main{margin-left:150px;padding-left:20px;}
	#content-main.about{margin-right:0px;padding-bottom:0px;margin-bottom:0px;padding-left:0px;}
	#sidebar-about{margin-left:0px;}
	img.bio-image, img.bio-image.bw, img.bio-image.white{display:none;}
	#sidebar p.photo-credit{display:none;}
	#content-main.resources{padding-left:0px;}
	h1.logo{display:none;}
	.work-info{width:230px;}
	#slides{margin-left:250px;}
	#bio-top p.intro{margin-bottom:15px;}
	
	#slides img{margin-bottom:2px;}
	#slides{margin-left:0px;padding-left:0px;padding-bottom:0px;}
	.work-info{width:100%;text-align:center;}
	header.entry-header.mobile{display:block;}
	header.entry-header.browser{display:none;}
	h1.entry-title{
		/*margin-top:-15px;*/
		text-align:center;
	}

	#sidebar.work-info{width:100%;text-align:center;padding-bottom:5px;position:relative;top:0;margin-top:15px;}
	#sidebar.work-info p{display:block; text-align:left;}
	#content-main.FAQ, #content-main.thoughts{padding-left:0px;}
	#content-main.FAQ, #content-main.thoughts{margin-left:0px;padding-left:0px;margin-bottom:20px;margin-top:0px;padding-bottom:0px;}
	#sidebar.thoughts{display:none;}
	#content-main .entry-content.side-project {	margin-bottom: 0px;}
	#main{margin-top:50px;}
	#footer-nav {
		display:none;
	}
	
}/*/mediaquery*/

/*-----------------------------------------------max-width 550-------------------------------------------------------*/

@media screen and (max-width:550px){
	/*#header{margin:0px auto 0px;}*/
	#mobile-nav{display: block;}
	#sidebar p{display:none;}
	#sidebar ul {display:none;}
	#sidebar.work-info ul {display:block;}
	#sidebar{width:100%;text-align:center;padding-bottom:5px;}
	#sidebar{position:relative;top:0;margin-top:25px;}
	#sidebar-about ul li{display:block;margin-left:0px;margin-right:0px;}
	#bio-top p.intro{
		font-size:23px;
		line-height:32px;
		padding-bottom:15px;
		font-weight:400;
	}
	
	#content-main p.intro{
		font-size:23px;
		line-height:32px;
		font-weight:400;
		text-indent:0px;
	}
	
	#mom-block{
		margin-bottom:30px;
	}
	
	h1.entry-title, h1.page-title, #content-main.resources h1, header.entry-header h1.entry-title{
		font-size: 23px;
		line-height: 29px;
		padding-bottom: 10px;
		margin-bottom: 12px;
		margin-top:0px;
		border-bottom: 4px double #dbd9d4;
		font-family: 'Whitney A', 'Whitney B';
		font-weight:400;
		letter-spacing:1px;
		text-align:center;
	}
	
	img.ornament{display:none;}
	ul.credits{margin-left:0px;}
	#sidebar ul.credits li{text-indent:0px;padding-left:0px;}
	ul.bullet li strong{font-size:15px;line-height:22px;}
	ul.bullet{font-weight:400px;font-size:12px;line-height:17px;}
	ol letter p{font-size:12px;}
	#content-main{margin-left:0px;padding-left:0px;margin-bottom:20px;margin-top:0px;padding-bottom:0px;}
	#content-main.about{margin-top:0px;}
	.entry-content{
		padding-left:0px;
		}
	article.thumb-article {
		margin-left:1%;
		margin-right:1%;
		margin-bottom:2%;
		float:left;
		width:31.25%;
	}
	
	body{
		font-family: 'Mercury SSm A', 'Mercury SSm B';
		font-size:13px;
		line-height:22px;
	}
	ol p{
		font-family: 'Mercury SSm A', 'Mercury SSm B';
		font-size:13px;
		line-height:22px;
	}
	
	.dropcap{
		font-family: 'Mercury SSm A', 'Mercury SSm B';
		font-weight: 300;
		font-size: 46px;
		line-height: 55px;
		background: url("http://www.jessica.is.php5-23.dfw1-2.websitetestlink.com/wp-content/themes/Starkers/images/orange-frame.png") no-repeat;
		background-size: 100%;
		width: 56px;
		height: 56px;
		top: 5px;
	}
	
	.run-in{
		letter-spacing: 0px;
		margin-right: 0px;
		font-family: 'Mercury SSm A', 'Mercury SSm B';
		font-weight:300;
	}

	#content-main.resources h3{
		margin-top:20px;
	}
	img.resource-img{margin-top:15px;margin-bottom:-10px;}
	#content-main h1.side-project{text-align:center;}
	h1.logo{display:none;}
	.entry-content h3{
		font-size:17px;
		line-height:22px;
	}
	

	#projects-nav{margin-bottom:10px;margin-top:0px;}
	#projects-nav{display:none;}
	#projects-nav.mobile{display:block;margin-top:15px;}
	.prev{float:left;}
	.next{float:right;}
	.prev:after{content:"";}
	#the-content p{text-align:left;}
	img.tiny-logo{top:-40px;width:30px;}
	#page-wrap{margin:0 10px 15px 10px;padding:10px 20px;}
	nav{
		text-align:right;
		margin-bottom:35px;
		margin-top:5px;
	}
	.addendum{
		font-size:10px;
		line-height:16px;
	}
	
	ol{list-style:none;}
	#content-main{float:left;}
	.work-info{position:relative;}
	#work-wrap{margin-left:0px; margin-top:24px;}
	#the-content p{margin-left:0px;}
	#work-wrap #projects-nav{width:100%;margin-left:0px;margin-top:0px;padding-top:25px;}
	a.purchase{margin-left:0px;}
	.work-info.fixed{position:relative;padding-top:10px;}
	#sidebar-about{top:0px;}
	#content-main.thoughts{margin-bottom:0px;}
	.work-info{top:0;padding-top:0px;}
	#search-wrap{
		margin-left:0px;
		margin-top:0px;
		padding-bottom:20px;
		float:left;
		margin-top:10px;
	}
	#sidebar img.cat{
		margin-top:10px;
		width:330px;
		margin-left:-15px;
	}
	h1.search-title{
		text-align:center;
	}
	#teengirl-button{display:none;}
	div.resource-list{
		margin-left:0%;
		width:100%;
	}

	div.resource-list:first-child{width:100%;}
	#content-main.resources ul li{text-align:center;}
	#content-main.resources h3{text-align:center;}
	div.friends{
		margin-left:0%;
		width:100%;
	}

	div#type.friends{width:100%;}

	div.friends:first-child{width:100%;}
	#switchform{display:none;}
	#teengirlnav{margin-top:0px;padding-top:0px;padding-bottom:0px;height:0px;}
	ol .entry-content h3{
		font-size: 17px;
		line-height: 22px;
	}
	#content-main.FAQ{margin-top:0px;}
	.entry-content{margin-bottom:30px;}
	#content-main.about p.addendum{display:none;}
	.addendum{
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
	#footer-wrap{display:none;}
	#page-wrap{margin:0 10px 0 10px;}
	nav {display:none;}
	#teengirl-nav{display:none;}
 	#mobile-button{display:block;}
	article.thumb-article:hover{
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
	}
	#content-main.resources h1#top-resource-head{margin-bottom:0px;}
	#sidebar{padding-top:0px;margin-top:0px;}
	#arrow-info{display:none;}
	a.pin-it-button{left:44%;}
	ol .letter p {
	font-family: 'Whitney SSm A', 'Whitney SSm B';
	font-weight: 400;
	font-size: 12px;
	line-height: 19px;
}
#content-main .letter strong {
font-size: 12px;
padding-bottom: 8px;
margin-bottom:8px;
margin-top: 20px;
display: block;
}
#sidebar h1.hooray{
	margin-left:0px;
}
#bio-top img{display:none;}
.photo-credit{display:none;}
#main{margin-top:0px;}
#sidebar.work{display:none;}
h1.page-title.mobile{display:block;}
.tiny-logo.mobile{display:block;}
#main-logo.tiny-logo{display:none;}
#page-wrap{margin: 0px 10px;padding: 10px 30px;}
#main{padding:0px 5px;}
#header{padding:0px 5px 25px;}
img.tiny-logo {left:5px;}
a.mobile-menu{margin-right:5px;}
.meta-title.location {
	float: none;
	text-align: center;
	display: block;
	position:relative;
}
.lecture-date-wrap{
	text-align:center;
}

}/*/mediaquery*/


/*-----------------------------------------------max-width 400-------------------------------------------------------*/

@media screen and (max-width:400px){
	#main{padding: 0px 10px 20px;}
	#header{padding: 0px 10px 25px;}
	nav ul li{margin-left:10px;}
	#page-wrap{margin:0px; padding:10px 20px;}
	.address{text-align:center; position:relative; width:100%;top:0px;}
	#getintouch ul li{text-align:center;}
	#toggleText{margin:0 auto;}
	#content-main #getintouch p.faq-hidden{padding-left:0px; text-align:center;}
	#content-main #getintouch p.faq-hidden.question{text-align:center;}
	#content-main.thoughts{width:100%;}
	#bio-wrap .address h4{margin-top:20px;}
	#page-wrap{margin: 0px;padding: 10px 30px;}
	#main{padding:0px 5px;}
	

}/*/mediaquery*/

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	#teengirl-button{display:none;}
	#teengirl-nav{display:none;}
	
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	#teengirl-button{display:none;}
	#teengirl-nav{display:none;}
		
/* Styles */
}

