/* 
base color scheme: http://colorschemedesigner.com/#2Q42b--rrw0w0
*/
@mixin boxShadow($arg){
	-moz-box-shadow: $arg;
	box-shadow: $arg;
}
@mixin borderRadius($arg){
	-moz-border-radius: $arg;
 	border-radius: $arg;
}
@import url(http://fonts.googleapis.com/css?family=Henny+Penny);
html{
	font-family:serif;
}

body{
	background-image:url('../images/background.jpg');
	background-attachment: fixed;
	background-repeat: none;
}
header,footer{
	margin:.5em;
}
header, #sidebar, #content-main, footer{
	border:1px solid black;
	@include borderRadius(10px);
	@include boxShadow(0px 0 10px 5px #888);
}
h1,h2,h3,h4{
	font-family: 'Henny Penny', cursive;
	text-decoration:none;
	font-weight:600;

	
}
header{
	background-color: #ffbf00;
 	
}
header a:hover {
	color:#DB0600;
}

#showcase-nav{
	width:2rem;
	height:4rem;
	&.previous{
		background: url('../images/nav-left.png') no-repeat left center;
		background-size:contain;
	}
	&.next{
		background: url('../images/nav-right.png') no-repeat right center;
		background-size:contain;
	}
}

#content-main{
	background-color: #000099;
	li{
		padding:0.5rem 0.5rem 1rem 0.5rem;
		text-align:center;
		background-color:#fff;
		img{
			border:1px solid #000;
		}
		#title{

		} 
		#caption{
			margin:0 auto;
			font-size:0.8rem;
			line-height:0.8rem;
			width:60%;
		}
	}
	article{
		padding:1em;
		@include borderRadius(10px);
		background:transparent url("../images/watercolor-paper.jpg");
		time{
			text-align:right;
			float:right;
		}
		#comment{
			display:none;
		}
		p{
			clear:both;
		}
	}
	.panel{
		.front{
			border:5px solid #fff;
		}
	}
}

#sidebar{
	background-color:#066300;
	a:hover{
		color:#ffbf00;
	}
}
footer{
	background-color:#DB0600; 
}
